[Unit]
Description=NyanSD service discovery server

[Service]
ExecStart=/usr/local/bin/bmaccontrol -c /etc/bmac/config.ini  -d /etc/bmac/htdocs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
